<template>
    <div class="col-10 col-mx-auto page">
        <div class="float-right">
            <div class="text-center">{{ timestamp }}</div>
            <span class="chip">
                <img src="https://picturepan2.github.io/spectre/img/avatar-1.png" class="avatar avatar-sm">
                by: {{ article.author }}</span>
        </div>
        <h2>{{article.title}} <br /><small class="text-grey">{{ article.slug }}</small></h2>
        <hr />
        <div class="columns">
            <div class="col-10 col-mx-auto">
                <p>{{ article.body.p1 }}</p>
            </div>
            <!-- logic to split for inset -->
            <div class="col-6 col-ml-auto">
                <p>{{ article.body.p2 }}</p>
            </div>
            <div class="col-4 col-ml-auto inset">
                <h4 class="text-center">{{ article.inset.title }}</h4>
                <p>{{ article.inset.p1 }}</p>
            </div>
            <div class="col-10 col-mx-auto">
                <p>{{ article.body.p3 }}</p>
            </div>
        </div>
        <div class="float-right">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active">
                    <a href="#">1</a>
                </li>
                <li class="page-item">
                    <a href="#">2</a>
                </li>
                <li class="page-item">
                    <a href="#">3</a>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import article from '../data/posts.json';
    export default {
        data() {
            return {
                article: article
            }
        },
        computed: {
            timestamp: function() {
                return moment(this.article.date).format('MMM D, YYYY')
            }
        }
    }
</script>
<style>
    .inset {
        border: 1px solid #999;
        border-radius: 8px;
        box-shadow: 5px 5px 3px #888888;
        padding: 10px;
        background-color: #cbf6fd;
        margin-bottom: 10px;
        margin-right: 5px;
    }
</style>