<template>
    <div class="sidebar">
        <div class="nav">
            <div class="accordion-container">
                <div class="accordion">
                    <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden v-model="checked">
                    <label class="accordion-header" v-on:click="accordion">
                        <i class="icon icon-arrow-right mr-1"></i>
                        Admin
                    </label>
                    <div class="accordion-body">
                        <ul class="menu menu-nav">
                            <li class="menu-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function() {
            return {
                checked: false
            }
        },
        methods: {
            accordion: function() {
                if (this.checked == true) {
                    this.checked = false;
                    return;
                }
                
                if (this.checked == false) {
                    this.checked = true;
                    return;
                }
            }
        }
    }
</script>
<style>
    .sidebar {
        background-color: #dedede;
    }
</style>