<template>
    <div class="col-10 col-mx-auto">
        <header class="navbar">
            <section class="navbar-section">
                <div class="dropdown">
                    <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                        Blogs <i class="icon icon-caret"></i>
                    </a>
                    <!-- menu component -->
                    <ul class="menu">
                        <li class="menu-item"><a href="#">Life with Laravel</a></li>
                        <li class="menu-item"><a href="#">Clown Ward 9</a></li>
                        <li class="menu-item"><a href="#">Film Life</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                        Tutorials & How-To's <i class="icon icon-caret"></i>
                    </a>
                    <!-- menu component -->
                    <ul class="menu">
                        <li class="divider" data-content="Code">
                        <li class="menu-item"><a href="#">Laravel</a></li>
                        <li class="menu-item"><a href="#">Vue.js</a></li>
                        <li class="menu-item"><a href="#">Docker</a></li>
                        </li>
                        <li class="divider" data-content="Film">
                        <li class="menu-item">
                            <a href="#">Rolling Shutter</a>
                        </li>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="navbar-section">
                <div class="input-group input-inline">
                    <input class="form-input" type="text" placeholder="search">
                    <button class="btn btn-primary input-group-btn">Search</button>
                </div>
            </section>
        </header>
    </div>
</template>
<script>
</script>
<style>
    .navbar {
        padding: 5px;
    }
    .navbar-section {
        justify-content: flex-start !important;
    }
    .navbar .navbar-section a { padding-right: 12px; font-weight: 600; }
</style>