<template>
    <div class="message">
        <heading></heading>
        <jumbo></jumbo>
        <topnav></topnav>
        <sitebody></sitebody>
    </div>
</template>
<script>
import heading from './components/heading.vue';
import jumbo from './components/jumbotron.vue';
import topnav from './components/topnav.vue';
import sitebody from './components/body.vue';
// css/sass imports
import './node_modules/spectre.css/src/spectre.scss';
import './node_modules/spectre.css/src/spectre-icons.scss';
import './node_modules/spectre.css/src/spectre-exp.scss';
import './assets/sass/app.scss';

    export default {
        name: 'app',
        components: {
            heading,
            jumbo,
            topnav,
            sitebody
        }
    }

</script>