body {
    background-image: url('/assets/img/concrete_seamless.png');
    background-repeat: repeat;
}

.jumbo {
    height: 300px !important;
    max-width: 100%;
    width: 100%;
    opacity: .5;
}

.page {
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 5px 5px 3px #888888;
    padding: 10px;
    background-color: white;
}